* {
  box-sizing: border-box;
}

/*DropDown*/
.dropGroup {
  /*Parent BTN Group*/
  position: fixed;
  margin: auto;
  width: 100%;
  max-height: 100px;
  z-index: 99;
}
.dropGroup .dropmenu {
  width: 100%;
  margin: auto;
  max-height: 100px;
}
.dropGroup .dropmenu .dropDrop {
  /*Dropmenu Button*/
  background-color: black;
  min-height: 70px;
  max-height: 80px;
  border-bottom: solid 4px #004aad;
  border-top: none;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
}

.droppedItems {
  /*Shown Menu*/
  width: 100%;
  max-height: 100px;
  background-color: black;
  text-align: center;
}

.droppedItems button {
  width: 80%;
  min-height: 25%;
  max-height: 500px;
  font-size: 4vh;
  border: solid 1px black;
  border-radius: 15px;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(121, 116, 116, 0.618));
  filter: drop-shadow(0px -3px 5px rgba(182, 180, 180, 0.556));
}
.searchBar,
.btn,
.submit {
  height: 8vh;
  border: solid 2px white;
}
.searchBar {
  width: 80%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
}
.searchBar::placeholder {
  color: white;
  font-size: 1.3rem;
}
.btn,
.submit {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
#searchName {
  display: inline;
}

.submit {
  background-color: rgb(16, 54, 112);
}
#myRedButton {
  background-color: #d02023;
}
#myRedButton:hover {
  background-color: rgba(175, 32, 35);

  border-color: rgba(175, 32, 35);
}

#myBlueButton {
  background-color: #004aad;
}
#myBlueButton:hover {
  background-color: rgb(1, 57, 100);
  border-color: rgba(0, 74, 130);
}
#myYellowButton {
  background-color: rgb(231, 185, 1);
}
#myYellowButton:hover {
  border-color: rgb(146, 118, 6);
  background-color: rgb(201, 163, 10);
}
#myWhiteButton {
  color: black;
  background-color: white;
}
#myWhiteButton:hover {
  border-color: grey;
  background-color: grey;
}
#myBlackButton {
  background-color: black;
}
#myBlackButton:hover {
  border-color: rgb(88, 86, 86);
  background-color: rgb(88, 86, 86);
  color: white;
}

/*HEADER*/

.header {
  display: grid;
  margin: 0;
  margin-top: 70px;
  height: 77vh;
  width: 100%;
  max-width: 100%;
  padding: 5%;
  justify-content: center;
  align-items: center;

  background-color: black;
  border: solid 10px #004aad;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}

.titleHead,
.buttons,
.aboutpara {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: white;
}

.titleHead,
.aboutpara {
  margin-bottom: 5%;
  width: 100%;
  height: 100%;
}

.header-buttons {
  width: 100%;
  height: 50%;
  padding-bottom: 0;
  margin: auto;
}

.big-heading {
  font-size: 10vh;
  padding-right: 1%;
}

.aboutpara {
  width: 70%;
  font-size: 10vh;
  word-wrap: break-word;
}

/*Grid Layout*/
.gridlayout,
.card {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.gridlayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-content: center;
}
.card {
  height: 90%;
  width: 90%;
  border: none;
  background-color: transparent;
}

.gridlayout .card img {
  width: 90%;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  position: relative;
  z-index: 1;
  margin-top: 4%;
}
#oscar img,
#papa img,
#quebec img,
#romeo img,
#sierra img,
#tango img,
#uniform img,
#victor img,
#whiskey img,
#xray img,
#yankee img,
#zulu img {
  max-width: 60%;
  min-width: 60%;
  max-height: 60%;
  min-height: 60%;
}

.description {
  width: 100%;

  padding: 1%;
  border: solid 5px #004aad;
  border-radius: 15px;
  color: white;
}
.description p {
  margin: auto;
  padding: 5%;
  text-align: center;
  font-size: 19px;
}
.name {
  border-bottom: solid 2px #004aad;
  -webkit-filter: none;
  filter: none;
}

.description .color {
  padding: 0%;
  font-size: 0px;
}

/*Hidden*/
.hidden {
  display: none;
}

/*MEDIA Q's*/
@media (max-width: 1020px) {
  .gridlayout {
    margin-top: 5%;
  }
  .headText {
    text-align: center;
  }
}

@media (max-width: 930px) {
  .gridlayout {
    margin-top: 20%;
  }
  .card {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .gridlayout {
    margin-top: 25%;
  }
  .header {
    height: 60%;
  }
  .card {
    width: 100%;
  }
  .big-heading {
    font-size: 3em;
  }
  .aboutpara {
    width: 100%;
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .gridlayout {
    margin-top: 40%;
  }
  .description {
    font-size: 25px;
  }

  .searchBar::placeholder {
    font-size: 3vh;
  }
  .header .aboutpara h4 {
    padding: 5%;
    font-size: 0.8em;
  }
}
@media (max-width: 380px) {
  /* .body,
  .html {
    margin: 0;
    width: 110vw;
  } */
  .gridlayout {
    margin: auto;
  }
  .header {
    height: 60%;
    margin-right: 0;
  }
  .description {
    font-size: 25px;
  }

  .searchBar::placeholder {
    font-size: 2vh;
  }
  .header .aboutpara h4 {
    padding: 5%;
    font-size: 0.8em;
  }
}
@media (max-width: 310px) {
  .body,
  .html {
    margin: 0;
    width: 115%;
    position: fixed;
  }
  .navbar-custom {
    width: 105%;
    margin: 0%;
  }
  .gridlayout {
    margin: auto;
    align-items: center;
  }
  .header {
    height: 60%;
    margin-right: 0;
  }
  .description {
    font-size: 25px;
  }
  .card {
    width: 80%;
  }
  .searchBar::placeholder {
    font-size: 1.8vh;
  }
  .header .aboutpara h4 {
    padding: 5%;
    font-size: 0.8em;
  }
}
