/*Colors
#FFDE59--yellow 
#004AAD -- blue
#D02023 -- red


*/

body{
    /* padding: 2%; */
    margin: 0;
    font-family: 'Century Gothic';
  background-image: url(Images/head.png); 
  background-size: cover; 
   background-attachment: fixed;
  background-repeat: repeat;  
  }
.navbar-custom {
  width: 100vw;
    background-color: white;
    border-bottom: solid;
    border-width: 5px;
    border-color: #FFDE59;
  }
  
  .navbar-brand {
    color: black !important;
    font-size: 40px;
    font-family: 'Century Gothic';
  }
  
  .nav-link {
  color: black !important;
  font-size: 25px;
   font-family: 'Century Gothic';
  }
  
  .nav-link:hover {
    color: grey !important;
  }
  
  .navbar-brand:hover {
    color: grey !important;
  }

.colorButtons{
  position: relative;
  z-index: 99;
}
.custom-group{
  width: 100%;
  padding: .5%;
  margin: auto;
  margin-right: 1%;
  border-bottom: solid;
  border-width: 5px;
  border-color: #FFDE59;
  background-color: #004AAD  ;
  box-sizing: border-box;
}
.btn{
  font-size: 1em;
  font-weight:bold;
}

.searchBar{
  
}
#myRedButton{
  color: white;
  border-color: #D02023;
  background-color:#D02023;
  border-radius: 0;
}
#myRedButton:hover{
  background-color:rgba(175, 32, 35);
  border-color: rgba(175, 32, 35);
}

#myBlueButton{
  color: white;
  border-color:black;
  background-color:#004AAD;
  border-radius: 0;
}
#myBlueButton:hover{
  background-color:rgb(1, 57, 100);;
  border-color:rgba(0, 74, 130);
}
#myYellowButton{
  color: white;
  border-color:rgb(231, 185, 1);
  background-color:rgb(231, 185, 1);
  border-radius: 0;
}
#myYellowButton:hover{
  border-color:rgb(146, 118, 6);
  background-color:rgb(201, 163, 10);
}
#myWhiteButton{
  color: black;
  border-color:black;
  background-color:white;
  border-radius: 0;
}
#myWhiteButton:hover{
  border-color:grey;
  background-color:grey;
  color: white;
}
#myBlackButton{
  color: white;
  border-color:black;
  background-color:black;
  border-radius: 0;
}
#myBlackButton:hover{
  border-color:rgb(88, 86, 86);
  background-color:rgb(88, 86, 86);
  color: white;
}


.gridlayout{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
  grid-gap: 4rem;
  align-items: center;
  padding: 2rem;
  margin: auto;
  margin-top:5%;
  align-items: baseline;
  
}
.card{
    text-align: center;
    max-width: 500px;
    height: 100%;
    border: none;
    background-color: transparent;
}

.gridlayout .card img{
    width: 100%;
    /* padding: 3%; */
    max-width: 500px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222); 
    position: relative;
    z-index: 1;
    margin-top: 4%;
} 

.description{
    padding: 1%;
    /* height: 40%; */
    border: solid;
    border-width: 5px;
    border-color: black;
    background-color: white;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    word-wrap: break-all;
}

 
.name{
    /* height: 100%; */
    margin: 0;
    margin-bottom: 0;
    padding: 2%;
    /* border-radius: 10px; */
    background-color: black;
    color: white;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}

.description .color {
  padding: 0% ;
  font-size: 0px;
}

.description p{
  margin: auto;
  padding: 5%;
  text-align: center;
  font-size: 15px;
}


@media(max-width:600px){
  .gridlayout{
    margin-top: 150px;
  }

}