body{
    margin: 0;
    padding: 2%;
}
.navbar-custom {
    background-color: white;
    border-bottom: solid;
    border-width: 5px;
    border-color: #FFDE59;
  }
  
  .navbar-brand {
    color: black !important;
    font-size: 40px;
    font-family: 'Century Gothic';
  }
  
  .nav-link {
  color: black !important;
  font-size: 25px;
   font-family: 'Century Gothic';
  }
  
  .nav-link:hover {
    color: grey !important;
  }
  
  .navbar-brand:hover {
    color: grey !important;
  }


.grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    grid-gap: 4rem;
    align-items: center;
    padding: 2rem;
    margin: auto;
    align-items: baseline;
    
}
.search{
    display: block;
}
.card{
    text-align: center;
    max-width: 500px;
    height: 100%;
    border: none;
    margin-top: 1%;
  
    
}

.grid-layout .card img{
    width: 100%;
    max-width: 500px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222); 
} 

.description{
    padding: 1%;
    height: 40%;
    border-radius: 10px;
    border-color: black;
    background-color: white;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    word-wrap: break-all;
}

.name{
    /* height: 100%; */
    margin: 0;
    padding: 2%;
    border-radius: 10px;
    background-color: red;
  
}

.description p{
  padding: 1%;
  text-align: center;
  font-size: 20px;
}
