body{
    background-color: white;
}

.header{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    grid-gap: 2rem;
    align-items: center;
    padding: 2rem;
    margin: auto;
}
.header .gallery img{
    width: 100%;
    max-width: 500px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);

}

img:hover{
    z-index: 99;
}

.header .gallery figure{
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    

}
.header figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: black;
    background-color: blue;
    border: solid;
    border-color: black;
    background-color:  rgba(255, 255, 255, 0.8);
    
}




.gallery{
    text-align: center;
    max-width: 500px;
    
}
.description{
    border: solid;

    /* border-top: 0; */
    /* padding: .5rem; */
    background-color: white;
    /* -webkit-filter: drop-shadow(1px 1px 1px #222);
    filter: drop-shadow(1px 1px 1px #222); */

    

}

.name{
    background-color: blue;
}