body{
    background-color: grey;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)) ;
    grid-gap: 4rem;
    align-items: center;
    padding: 2rem;
    margin: auto;
}

.card{
    text-align: center;
    max-width: 500px;
    /* border: solid;
    border-width: 1px; */
    border-radius: 10px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);

}

.grid-layout .card img{
    width: 100%;
    max-width: 500px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

.description{
    padding: 1%;
    border-radius: 10px;
    border-color: black;
    background-color: white;
}

.name{
    height: 100%;
    margin: 0;
    padding: 2%;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    background-color:black;
    color: white;
}