/*Colors
#FFDE59--yellow 
#004AAD -- blue
#D02023 -- red


*/

body {
  margin: 0;
  font-family: "Century Gothic";
  /* background-image: url(Images/head4.png); */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
}
/* Nav Bar */
.navbar-custom {
  width: 100vw;

  background-color: white;
  border-bottom: solid;
  border-width: 5px;
  border-color: #ffde59;
}

.navbar-brand {
  color: black !important;
  padding-left: 0.5%;
  font-size: 40px;
  font-family: "Century Gothic";
}

.nav-link {
  color: black !important;
  font-size: 25px;
  font-family: "Century Gothic";
}

.nav-link:hover {
  color: grey !important;
}

.navbar-brand:hover {
  color: grey !important;
}

/*Button Bar*/
.colorButtons {
  position: relative;
  z-index: 99;
  width: 1 00vw;
}
.custom-group {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0.5%;
  margin: auto !important;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  background-color: white;
  box-sizing: border-box;
  border-bottom: solid;
  border-width: 5px;
  border-color: black;
}

.btn {
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  margin: auto;
}
#motranbtn {
  background-color: black;
}
#motranbtn a {
  text-decoration: none;
  color: white;
}

.searchBar {
  height: 40px;
  border: solid;
  text-align: left;
  margin-left: 0.5%;
}

.buttonFooter {
  text-align: center;
  align-items: center;
  width: 100vw;
  padding: 0.5%;
  margin-top: 0.5%;
  color: white;
  background-color: #004aad;
}

.buttonFooter i {
  text-align: center;
  margin: auto;
}

/*Header*/
.header {
  margin: auto;
  margin-top: 10%;
  width: 90%;
  height: 40%;
  display: block;
  background-color: white;
  border: solid;
  border-width: 10px;
  border-color: #d02023;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}

.headText {
  padding: 3%;
  padding-bottom: 0;
  word-wrap: break-word;
  margin-bottom: 0%;
}

.headText h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 3%;
}
.headText p {
  text-align: left;
  font-size: 1.5rem;
  word-wrap: break-word;
  margin-top: 3%;
}

/*Morse Grid*/
.gridlayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 3rem;
  padding: 2rem;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.card {
  text-align: center;
  max-width: 500px;
  height: 100%;
  border: none;
  background-color: transparent;
}

.morseNotation {
  font-size: 10rem !important;
  padding: 0 !important;
  margin-bottom: 30% !important;
  line-height: 10px !important;
  font-weight: 900;
}

.description {
  padding: 1%;
  height: 100%;
  border: solid;
  border-width: 5px;
  border-color: #004aad;
  background-color: white;
  -webkit-filter: drop-shadow(3px 3px 3px #222);
  filter: drop-shadow(3px 3px 3px #222);
  word-wrap: break-all;
}

.name {
  margin: 0;
  margin-bottom: 0;
  padding: 2%;
  background-color: #004aad;
  color: white;
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px #222);
}

.description .letterName {
  padding: 0%;
  font-size: 0px;
}

.description p {
  margin: auto;
  padding: 5%;
  text-align: center;
  font-size: 15px;
}

/*Translator*/
.transArea {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10%;
  width: 90%;
  border: solid;
  border-width: 10px;
  border-color: #004aad;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}
.translateRow,
.clearRow,
.headingRow {
  margin: auto;
  width: 100%;
}

.headingRow {
  text-align: center;
  padding: 1%;
  border-bottom: solid;
  border-width: 3px;
  border-color: #004aad;
}

.headingRow h1 {
  font-size: 3rem;
}
#textArea {
  height: 300px;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  padding: 2%;
}

#translatedArea {
  font-size: 30px;
  height: 300px;
  width: 100%;
  font-size: 1rem;
  padding: 2%;
}
#submit {
  font-size: 30px;
  text-align: center;
  background-color: #e3efff;
  border: solid;
  border-width: 3px;
  border-color: #004aad;
}
#submit:hover {
  background-color: #004aad;
  color: white;
}

#clear {
  width: 100%;
  font-size: 20px;
}

.custom-group-morse {
  /* position: fixed; */
  width: 20%;
  height: 70px;
  padding: 0.3%;
  /* margin: auto !important; */
  /* margin-top: 10%; */
  margin-bottom: 0;
  background-color: white;
  border: solid;
  border-width: 5px;
  border-color: #ffde59;
}

.custom-group-morse #mohomebtn {
  background-color: #fcca01;
  width: 70px;
}

#mohomebtn a {
  text-decoration: none;
  color: white;
}

/*Footer*/
.footer {
  width: 100%;
  padding: 2%;
  margin: auto;
  background-color: #004aad;
  text-align: center;
  border-top: solid;
  border-color: #ffde59;
}

.signature {
  color: white;
  margin: auto;
  font-size: 20px;
}

.signature:hover {
  color: #ffde59;
}

.contact {
  width: 10%;
  color: white;
  margin: auto;
  margin-top: 1%;
}

.contactIcons {
  padding: 3%;
}
.contactIcons:hover {
  color: #ffde59;
}

/* Media Q's*/
@media (max-width: 1020px) {
  .header,
  .gridlayout {
    margin-top: 15%;
  }
  .header p {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header,
  .gridlayout {
    margin-top: 20%;
  }
  .header {
    width: 90%;
  }
  .header p,
  h1 {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .header,
  .gridlayout {
    margin-top: 25%;
  }
  .header {
    width: 90%;
  }
  .header p,
  h1 {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .header,
  .gridlayout {
    margin-top: 30%;
  }

  .header p,
  h1 {
    text-align: center;
    font-size: 1rem;
  }
  .header p {
    padding-top: 0%;
    padding-bottom: 3%;
  }
  .headFooter {
    font-size: 0.8rem;
  }
}
