body {
  font-family: "Century Gothic";
  background: #021e43;
}

/*Nav Bar*/
/* .navbar-custom {
  background-color: black;
  border-bottom: solid;
  border-width: 5px;
  border-color: #ffde59;
}

.navbar-brand {
  color: white !important;
  font-size: 40px;
  font-family: "Century Gothic";
}

.nav-link {
  color: white !important;
  font-size: 25px;
  font-family: "Century Gothic";
}

.nav-link:hover {
  color: grey !important;
}

.navbar-brand:hover {
  color: grey !important;
} */

/*Header*/
.header {
  height: 85vh;
  padding: 5%;
  background-color: black;
  border: solid 10px #004aad;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}

.titleHead,
.buttons,
.aboutpara {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: white;
}

.titleHead,
.aboutpara {
  margin-bottom: 5%;
}

.buttons {
  width: 80%;
}

.header-buttons {
  width: 100%;
  padding-bottom: 0;
  margin: auto;
}

.big-heading {
  font-size: 15vh;
  padding-right: 1%;
}

.aboutpara {
  width: 50%;
  font-size: 20px;
  word-wrap: break-word;
}

/*Grid Sections*/
.sem-flex-grid,
.morse-flex-grid,
.flag-flex-grid {
  display: flex;
  flex: 1;
  padding-bottom: 10px;
  border-bottom: solid;
  width: 80%;
  padding: 3%;
  margin: 3% auto;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 10px 3px rgb(0, 0, 0);
  border: solid 10px;
}

.sem-flex-grid,
.flag-flex-grid {
  text-align: left;
}
.morse-flex-grid {
  text-align: right;
}
.col {
  flex: 1;
  margin: auto;
}

/*Grid Images*/
.semimage,
.morseimage,
.flagimage {
  width: 100%;
  height: 100%;
  border: solid;
  border-width: 10px;
  box-shadow: 0 6px 8px 0 rgba(157, 152, 152, 0.2);
}

.semimage,
.sem-flex-grid {
  border-color: #ffde59;
}
.morseimage,
.morse-flex-grid {
  border-color: #d02023;
}
.flagimage,
.flag-flex-grid {
  border-color: #004aad;
}

/*Buttons*/
.sem_button,
.morse_button,
.flag_button {
  border: solid 3px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 2px 40px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(221, 199, 199, 0.2);
}

.sem_button {
  background-color: #edbd00;
}
.morse_button {
  background-color: rgba(208, 32, 35);
}
.flag_button {
  background-color: rgba(0, 74, 173);
}

.sem_button:hover {
  border-color: #d5aa02;
  background-color: #d5aa02;
}

.morse_button:hover {
  border-color: #c40003;
  background-color: #c40003;
}

.flag_button:hover {
  border-color: #013e8f;
  background: #013e8f;
}

/*Grid Item Text */
.sectiontitle {
  font-size: 4rem;
  padding-bottom: 15px;
  margin: auto;
}
.description {
  font-size: 15px;
  padding-right: 3%;
}

/* Footer*/
/* .footer {
  width: 100%;
  padding: 2%;
  margin: auto;
  background-color: black;
  text-align: center;
  border-top: solid;
  border-color: #ffde59;
}

.signature {
  color: white;
  margin: auto;
  font-size: 20px;
}

.signature:hover {
  color: #ffde59;
}

.contact {
  width: 10%;
  color: white;
  margin: auto;
  margin-top: 1%;
}

.contactIcons {
  padding: 3%;
}
.contactIcons:hover {
  color: #ffde59;
} */

/*Media Q's */
@media (max-width: 950px) {
  .sem-flex-grid,
  .morse-flex-grid,
  .flag-flex-grid {
    display: block;
    text-align: center;
    padding: 4%;
  }
  .sectiontitle,
  .description {
    padding-left: 0px;
    padding: 2%;
  }
  .header,
  .aboutpara {
    text-align: center;
  }
  .aboutpara {
    width: 100%;
  }
  .icon {
    text-align: center;
    padding: 5%;
  }
  .header {
    height: 100%;
  }
}

@media (max-width: 660px) {
  .aboutpara,
  .descrip {
    margin-bottom: 8%;
  }
  .aboutpara {
    width: 100%;
  }
  .header {
    height: 80%;
  }
}
