* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background: black;
}

/*Nav Bar*/
/* .navbar-custom {
  background-color: black;
  border-bottom: solid;
  border-width: 5px;
  border-color: #ffde59;
}

.navbar-brand {
  color: white !important;
  font-size: 40px;
  font-family: "Century Gothic";
}

.nav-link {
  color: white !important;
  font-size: 25px;
  font-family: "Century Gothic";
}

.nav-link:hover {
  color: grey !important;
}

.navbar-brand:hover {
  color: grey !important;
} */

/*Header*/
.header {
  margin: 0;
  height: 87vh;
  width: 99%;
  padding: 5%;
  background-color: black;
  border: solid 10px #004aad;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}

.titleHead,
.buttons,
.aboutpara {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: white;
}

.titleHead,
.aboutpara {
  margin-bottom: 3%;
}

.buttons {
  width: 100%;
  margin: auto;
  margin-top: 5%;
}

.header-buttons {
  width: 100%;
  height: 70%;
  padding-bottom: 0;
  margin: auto;
  font-size: 3vh !important;
}

.big-heading {
  font-size: 10vh;
  padding-right: 1%;
}

.aboutpara h4 {
  width: 50%;
  font-size: 4vh;
  word-wrap: break-word;
}

/*Grid Sections*/
.sem-flex-grid,
.morse-flex-grid,
.flag-flex-grid {
  display: flex;
  flex-wrap: wrap;
  flex: 40%;
  padding-bottom: 10px;
  border-bottom: solid;
  width: 90%;
  padding: 3%;
  margin: 3% auto;
  background-color: black;
  color: white;
  box-shadow: 3px 3px 10px 3px rgb(0, 0, 0);
  border: solid 10px;
}

.sem-flex-grid,
.flag-flex-grid {
  text-align: left;
}
.morse-flex-grid {
  text-align: right;
}
.col {
  flex: 1;
  margin: auto;
}

/*Grid Images*/
.semimage,
.morseimage,
.flagimage {
  width: 90%;
  height: 90%;
  padding: 5%;
  border: solid;
  border-width: 10px;
  box-shadow: 0 6px 8px 0 rgba(157, 152, 152, 0.2);
}

.semimage,
.sem-flex-grid {
  border-color: #ffde59;
}

.morseimage,
.morse-flex-grid {
  border-color: #d02023;
  z-index: 2;
}
.flagimage,
.flag-flex-grid {
  border-color: #004aad;
}

/*Buttons*/
.sem_button,
.morse_button,
.flag_button {
  border: solid 3px white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 2px 40px 2px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(221, 199, 199, 0.2);
}

.sem_button {
  background-color: #edbd00;
}
.morse_button {
  background-color: rgba(208, 32, 35);
}
.flag_button {
  background-color: rgba(0, 74, 173);
}

.sem_button:hover {
  border-color: #d5aa02;
  background-color: #d5aa02;
}

.morse_button:hover {
  border-color: #c40003;
  background-color: #c40003;
}

.flag_button:hover {
  border-color: #013e8f;
  background: #013e8f;
}

/*Grid Item Text */
.sectiontitle {
  font-size: 5em;
  padding-bottom: 15px;
  padding-bottom: 4%;

  margin: auto;
}
.descriptionFlex {
  font-size: 3vh;
  padding-right: 3%;
  padding-bottom: 3%;
  box-shadow: none;
}

/* Media Q's */
@media (max-width: 950px) {
  .sem-flex-grid .col,
  .morse-flex-grid,
  .flag-flex-grid {
    flex-direction: column;
    flex: 100%;
    text-align: center;
    padding: 5%;
  }
  .sem-flex-grid,
  .morse-flex-grid,
  .flag-flex-grid {
    border-width: 7px;
  }
  .morseimage,
  .semimage,
  .flagimage {
    border: none;
    height: 50%;
    width: 50%;
    box-shadow: none;
  }

  .sectiontitle,
  .description {
    padding-left: 0px;
    padding: 2%;
    text-align: center;
  }

  .header,
  .aboutpara {
    text-align: center;
  }
  .aboutpara {
    width: 100%;
  }
  .contactIcons {
    padding: 5%;
  }
  .header {
    height: 100%;
  }
}

@media (max-width: 660px) {
  button {
    height: 50%;
  }
  .aboutpara,
  .descrip {
    margin-bottom: 8%;
  }

  .sectiontitle {
    font-size: 3em;
  }
  .aboutpara h4 {
    width: 100%;
  }
  .header {
    height: 80%;
  }
}
@media (max-width: 500px) {
  .aboutpara,
  .descrip {
    margin-bottom: 8%;
  }
  .sectiontitle {
    font-size: 2em;
  }
  .aboutpara {
    font-size: 3em;
  }
}
