/*Colors
#FFDE59--yellow 
#004AAD -- blue
#D02023 -- red


*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Century Gothic";
  background: #021e43;
}

/*Button Bar*/
.colorButtons {
  position: relative;
  z-index: 99;
  width: 100vw;
}
.custom-group {
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0.5%;
  margin: auto !important;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  background-color: #d02023;
}

.btn,
.searchBar {
  height: 40px;
}
.btn {
  font-size: 1em;
  font-weight: bold;
  margin: auto;
}

#motranbtn {
  background-color: black;
}
#motranbtn a {
  text-decoration: none;
  color: white;
}
.searchBar {
  border: solid 3px #d02023;
  text-align: left;
  margin-left: 0.5%;
  background-color: white;
}

/*Header*/
.header {
  height: 75vh;
  margin: auto;
  margin-top: 4%;
  padding: 5%;
  padding-top: 8%;
  color: white;
  background-color: black;
  border: solid 10px rgba(208, 32, 35);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}

.headText {
  padding: 3%;
  padding-bottom: 0;
  word-wrap: break-word;
  margin-bottom: 0%;
}

.headText h1,
.headText p {
  margin-top: 3%;
}
.headText h1 {
  text-align: center;
  font-size: 4rem;
}
.headText p {
  text-align: left;
  font-size: 2.3vh;
  word-wrap: break-word;
}
.morse_button {
  margin: auto;
  margin-top: 5%;
  padding: 15px 32px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  border: solid 3px white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: rgba(208, 32, 35);
}
.morse_button:hover,
#motranbtn:hover {
  border-color: #df8183;
  background-color: #df8183;
}
#motranbtn a:hover {
  color: black;
}

/*Morse Grid*/
.gridlayout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.card {
  max-width: 500px;
  height: 100%;
  border: none;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

.description {
  height: 100%;
  padding: 1%;
  border: solid 5px #d02023;
}

.name {
  border-bottom: solid 2px #d02023;
}

.description .letterName {
  padding: 0%;
  font-size: 0px;
}

.morseNotation {
  font-size: 10rem;
  padding: 0;
  margin-bottom: 30%;
  line-height: 10px;
  font-weight: 900;
  width: 100%;
  color: white;
}

.tinier {
  font-size: 6rem !important;
}

/* Media Q's*/
@media (max-width: 1020px) {
  .header,
  .gridlayout {
    margin-top: 15%;
  }
  .header p {
    text-align: center;
  }
  .header button {
    display: block;
    margin: auto;
  }
}

@media (max-width: 930px) {
  .header,
  .gridlayout {
    margin-top: 20%;
    justify-items: center;
  }
  .header {
    width: 90%;
  }
  .card {
    width: 100%;
  }
  .header p,
  h1 {
    text-align: center;
  }
  .header button {
    display: block;
    margin: auto;
  }
}
@media (max-width: 700px) {
  .header,
  .gridlayout {
    margin-top: 25%;
    justify-items: center;
  }
  .card {
    width: 100%;
  }
  .header {
    width: 90%;
  }
  .header p,
  h1 {
    text-align: center;
  }
  .header button {
    display: block;
    margin: auto;
  }
}
@media (max-width: 600px) {
  .header,
  .gridlayout {
    margin-top: 30%;
  }
  .name {
    font-size: 3rem;
  }
  .header p,
  h1 {
    text-align: center;
    font-size: 1rem;
  }
  .header p {
    padding-top: 0%;
    padding-bottom: 3%;
  }
  .header button {
    display: block;
    margin: auto;
  }
  .headFooter {
    font-size: 0.8rem;
  }
}

/*Translator*/
.transArea {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10%;
  width: 90%;
  border: solid 3px #d02023;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.398);
}
.translateRow,
.clearRow,
.headingRow {
  margin: auto;
  width: 100%;
}

.headingRow {
  text-align: center;
  padding: 1%;
  border-bottom: solid 5px #d02023;
  background-color: black;
}

.headingRow h1 {
  font-size: 3rem;
  color: white;
}
#textArea {
  height: 400px;
  width: 100%;
  color: black;
  font-size: 1.5rem;
  padding: 2%;
  text-transform: lowercase;
}

#translatedArea {
  font-size: 30px;
  height: 400px;
  width: 100%;
  font-size: 1rem;
  padding: 2%;
}
#submit {
  font-size: 30px;
  text-align: center;
  background-color: #d02023;
  color: white;
  border: solid 1px white;
}
#submit:hover {
  background-color: #8d0305;
  border: none;
}

#clear {
  width: 100%;
  font-size: 20px;
  padding: 0;
  background-color: #d02023;
  color: white;
}
#clear:hover {
  background-color: #ffde59;
  border: solid 3px #ffde59;
  color: black;
}
